langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
streamlit
langchain_groq
langchain_chroma
langchain-core
langchain_classic
faiss-cpu
langchain_ollama
langchain_huggingface
validators
youtube-transcript-api
pytube
unstructured
playwright
sentence-transformers
chromadb
torch
torchvision